:root {
	/* name the colors*/
    --discord_black: #313638;
    --galveston_brown: #574729;
    --rust: #975330;
    --burnt_orange: #c57938;
    --cheddar_cheese: #ffad3b;
	--light_yellow: #ffe596;

	--light_cream: #fff6a7;
    --swiss_cheese: #e3ba66;
    --orange: #ce812c;
    --chocolate: #653019;
    --scab_red: #34140e;
    --black: #0e0705;    
}

header {
    color: white;
    border-bottom: 2px solid black;
}

h1 {
    font-size: 23px;
}

body {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    background-color: var(--discord_black);
}

td {
    margin: auto;
    overflow-x: scroll;    
  
}

#logo {
    width: 50px;
    height: 50px;
    /*object-position: */
}

#account{
    float: right;
    margin: 10px;
    color: white;
}

/* MENU HEADER */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow:hidden;
    background-color: var(--discord_black); 
}
li{
    float: left;
}
li a{
    display: block;
    color: white;   /* change this to text palette color */
    text-align: center;
    padding: 14px 16px;
}
li a:hover{
    background-color: #0e0705; 
}

/* FORM */
#content-form {
	background-image: url(desert_star.png);
	height: 80%;
	width: 100%;
	bottom: 0;
	position: absolute;
	background-repeat:no-repeat;
    background-size: cover;
}

#title-form {
    background-color: var(--light_yellow);
    color: var(--light_black);
    margin: auto;
    width: 70%;
    padding: 10px;
}

.form-sect {
    margin: auto;
    width: fit-content;
    overflow-x: scroll;    
    padding: 10px;
}

.tab {
    float: left;
    border: 1px solid var(--light_black);
    background-color: var(--light_cream);
    width: 25%;
    height: 500px;
}

.tab a {
    display: block;
    background-color: inherit;
    color: var(--light_black);
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.tab a:hover {
    background-color: var(--cheddar_cheese);
    color: var(--discord_black);
}

.tab a.active {
    background-color: var(--cheddar_cheese);
    color: var(--discord_black);
    border: 1px solid var(--discord_black);
}

#quote-content {
    float: left;
    width: 65%;
    border: 1px solid var(--discord_black);
    background-color: var(--light_cream);
    height: 460px;
    padding: 20px;
}
