
<h1>Fuel Quote History</h1>
<p>View your fuel quote history below.</p>

    <div class="tab">
        <a hx-get="/page/quote" hx-target="#quote-content">New Quote</a>
        <a hx-get="/page/quote/1" hx-target="#quote-content">Quote 1</a>
        <a hx-get="/page/quote/1" hx-target="#quote-content">Quote 2</a>
    </div>
    <div id="quote-content"> <!-- intentionally left blank - its loaded by the buttons -->
    </div>