<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="en">
<head>
    <title>North Sentinel Oil and Gas</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<header>
    
    <h1>Hello [person]</h1>
    <!--<img id="logo" src="placeholder.png" alt="logo">  FIND OUT HOW TO MOVE THIS -->
    

    <a id="account" href="#login">Login / Register</a> 

    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#history">Fuel Quote History</a></li>
    </ul>
</header>

<body>
    <div id="bottom_half">	
        <div id="content">
            
        </div>
    </div>
</body>

</html>
