<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="en">
<head>
    <title>North Sentinel Oil and Gas</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/htmx.min.js"></script>
</head>

<header>
    {% if user %}
    <ul>
        <h1>Hello, {{user}}</h1>
        <li><a href="#home">Home</a></li>
        <li><a hx-get="/page/quote_history" hx-swap="innerHTML" hx-target="#title-form">Fuel Quote History</a></li>
        <li><a hx-get="/page/quote" hx-swap="innerHTML" hx-target="#title-form">Generate Fuel Quote</a></li>
        <li><a hx-get="/page/profile" hx-swap="innerHTML" hx-target="#title-form">Profile</a></li>
        <li><a hx-get="/logout" hx-swap="innerHTML" hx-target="#title-form"></a></li>
    </ul>
    {% else %}
    <a id="account" hx-get="/login" hx-swap="innerHTML" hx-target="#content-form">Login / Register</a> 
    {% endif %}

    <!--<img id="logo" src="placeholder.png" alt="logo">  FIND OUT HOW TO MOVE THIS -->
</header>

<body>
    <div id="content-form">	
        <div id="title-form"> </div>
    </div>
</body>

</html>
