:root {
	/* name the colors*/
	--light_yellow: #ffe596;
	--light_black: #313638;
	--light_cream: #e7d99c;
}
header{
    color: white;
    border-bottom: 2px solid black;
}
body{
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    background-color: var(--light_black);
}

footer{
    margin-top: auto;
}

#logo{
    width: 50px;
    height: 50px;
    /*object-position: */
}
#info{
    background-color: var(--light_cream);
    padding: 1px 10px 10px 10px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin-left: 100px;
    margin-right: 100px;
}

h1{
    font-size: 23px;
}

#info h2{
    font-size: 18px;
}

#account{
    float: right;
    margin: 10px;
    color: white;

}

/* MENU HEADER */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow:hidden;
    background-color: var(--light_black); 
}
li{
    float: left;
}
li a{
    display: block;
    color: white;   /* change this to text palette color */
    text-align: center;
    padding: 14px 16px;
}
li a:hover{
    background-color: #0e0705; 
}
#top_half {
	background-image: url(starry_sky.png);
	background-repeat: repeat;
	height: 50%;
	width: 100%;
	top: 0;
	/*padding: 70px;*/
}
footer {
	background-image: url(desert_star.png);
	height: 50%;
	width: 100%;
	bottom: 0;
	position: absolute;
	background-repeat:no-repeat;
        background-size: cover;
}

