header{
    border-bottom: 2px solid black;
}

footer{
    border-top: 2px solid black;
}

#content{
    background-color: white;
    padding: 1px 10px 10px 10px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin-left: 100px;
    margin-right: 100px;
}

h1{
    font-size: 20px;
}

